# Large system

We run analytic and numeric expression for 500 particles and three dimensions for one alpha.

In [1]:
%matplotlib inline

import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import tqdm

from vmc.interface import *
from vmc import run_experiment, sample_local_energies, run_all

from IPython.core.pylabtools import figsize
from IPython.core.display import display

In [2]:
mass = 1.0
omega = 1.0

num_particles = [1, 10, 100, 500]
num_dimensions = 3

num_alphas = 1

bootstrap_samples = 0

alphas = np.array([0.5]).reshape(1, 1)
parameter_names = ["alpha"]

step_length = 0.5

num_samples = int(2**21)
num_thermalization_steps = int(0.1*num_samples)

kwargs = {
    "num_samples": num_samples, "step_length": step_length,
    "num_thermalization_steps": num_thermalization_steps}

In [3]:
df_dict = {}

In [4]:
for i in num_particles:
    print ("Num particles = {0}\t Num dimensions = {1}".format(i, num_dimensions))

    wavefunction_analytical = PySimpleGaussian(
        i, num_dimensions, mass, omega, spread=step_length)
    wavefunction_approximate = PySimpleGaussianNumerical(
        i, num_dimensions, mass, omega, spread=step_length)

    hamiltonian = PyHarmonicOscillator()

    sampler_analytical = PySampler(
        wavefunction_analytical, hamiltonian, PyMetropolisAlgorithm())
    sampler_approximate = PySampler(
        wavefunction_approximate, PyHarmonicOscillator(), PyMetropolisAlgorithm())

    df_analytical = run_all(
        sampler_analytical, alphas, parameter_names, bootstrap_samples, **kwargs)
    print ("Analytic time = {0} seconds".format(df_analytical["sampling_time"].sum()))

    df_approximate = run_all(
        sampler_approximate, alphas, parameter_names, bootstrap_samples, **kwargs)
    print ("Numeric time = {0} seconds".format(df_approximate["sampling_time"].sum()))

    df_dict[i] = [df_analytical, df_approximate]

  0%|          | 0/1 [00:00<?, ?it/s]

Num particles = 1	 Num dimensions = 3

100%|██████████| 1/1 [00:00<00:00,  1.81it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

Analytic time = 0.502227783203125 seconds

100%|██████████| 1/1 [00:00<00:00,  1.28it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

Numeric time = 0.7260081768035889 seconds
Num particles = 10	 Num dimensions = 3

100%|██████████| 1/1 [00:00<00:00,  1.27it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

Analytic time = 0.7284283638000488 seconds

100%|██████████| 1/1 [00:06<00:00,  6.45s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

Numeric time = 6.396730661392212 seconds
Num particles = 100	 Num dimensions = 3

100%|██████████| 1/1 [00:04<00:00,  4.18s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

Analytic time = 4.13235330581665 seconds

100%|██████████| 1/1 [06:27<00:00, 387.65s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

Numeric time = 387.59678053855896 seconds
Num particles = 500	 Num dimensions = 3

100%|██████████| 1/1 [00:19<00:00, 19.21s/it]
  0%|          | 0/1 [00:00<?, ?it/s]

Analytic time = 19.161447048187256 seconds

100%|██████████| 1/1 [2:39:55<00:00, 9595.08s/it]

Numeric time = 9595.015640974045 seconds

In [5]:
print (df_dict)

{1: [   alpha  energy  variance  std  acceptance  sampling_time  block_var  \
0    0.5     1.5       0.0  0.0    0.735471       0.502228        0.0

   block_std
0        0.0  ,    alpha    energy      variance       std  acceptance  sampling_time  \
0    0.5  1.499968  1.097811e-09  0.000033     0.73489       0.726008

      block_var  block_std
0  6.940722e-09   0.000083  ], 10: [   alpha  energy  variance  std  acceptance  sampling_time  block_var  \
0    0.5    15.0       0.0  0.0    0.735933       0.728428        0.0

   block_std
0        0.0  ,    alpha     energy  variance       std  acceptance  sampling_time  block_var  \
0    0.5  14.982783  0.000002  0.001555    0.735277       6.396731   0.000075

   block_std
0    0.00867  ], 100: [   alpha  energy  variance  std  acceptance  sampling_time  block_var  \
0    0.5   150.0       0.0  0.0    0.735773       4.132353        0.0

   block_std
0        0.0  ,    alpha      energy  variance       std  acceptance  sampling_time  \
0    0.5  149.814528  0.020037  0.141553     0.73588     387.596781

   block_var  block_std
0   0.664241    0.81501  ], 500: [   alpha  energy  variance  std  acceptance  sampling_time  block_var  \
0    0.5   750.0       0.0  0.0    0.730516      19.161447        0.0

   block_std
0        0.0  ,    alpha     energy  variance       std  acceptance  sampling_time  \
0    0.5  773.85435  11.15541  3.339972    0.731566    9595.015641

    block_var  block_std
0  428.402651   20.69789  ]}

In [6]:
for key in df_dict:
    print (key)
    display(df_dict[key][0])
    display(df_dict[key][1])

1

,alpha,energy,variance,std,acceptance,sampling_time,block_var,block_std
0,0.5,1.5,0.0,0.0,0.735471,0.502228,0.0,0.0

,alpha,energy,variance,std,acceptance,sampling_time,block_var,block_std
0,0.5,1.499968,1.097811e-09,0.000033,0.73489,0.726008,6.940722e-09,0.000083

10

,alpha,energy,variance,std,acceptance,sampling_time,block_var,block_std
0,0.5,15.0,0.0,0.0,0.735933,0.728428,0.0,0.0

,alpha,energy,variance,std,acceptance,sampling_time,block_var,block_std
0,0.5,14.982783,0.000002,0.001555,0.735277,6.396731,0.000075,0.00867

100

,alpha,energy,variance,std,acceptance,sampling_time,block_var,block_std
0,0.5,150.0,0.0,0.0,0.735773,4.132353,0.0,0.0

,alpha,energy,variance,std,acceptance,sampling_time,block_var,block_std
0,0.5,149.814528,0.020037,0.141553,0.73588,387.596781,0.664241,0.81501

500

,alpha,energy,variance,std,acceptance,sampling_time,block_var,block_std
0,0.5,750.0,0.0,0.0,0.730516,19.161447,0.0,0.0

,alpha,energy,variance,std,acceptance,sampling_time,block_var,block_std
0,0.5,773.85435,11.15541,3.339972,0.731566,9595.015641,428.402651,20.69789